{% extends "admin/base_site.html" %}

{% block branding %}

<h1 id="site-name">

    <a href="/admin/">
        Madurai New LIG Welfare Association
    </a>

</h1>

{% endblock %}


{% block nav-global %}

<div style="padding:15px 0;">

    <a href="/accounts/login/"
       style="
            background:#0d6efd;
            color:white;
            padding:10px 20px;
            text-decoration:none;
            border-radius:6px;
            font-weight:bold;
        ">

        🚀 Association Portal

    </a>

</div>

{% endblock %}