{% extends 'base.html' %}

{% block content %}

<div class="container py-5">

    <div class="text-center mb-5">

        <h2 class="fw-bold text-primary">
            Contact Us
        </h2>

     

    </div>

    <div class="row justify-content-center">

        <div class="col-lg-8">

            <div class="card shadow border-0">

                <div class="card-body p-5">

                    <div class="mb-4">

                        <h5 class="text-primary">
                            <i class="bi bi-geo-alt-fill"></i>
                            Address
                        </h5>

                        <p class="mb-0">
                            New L.I.G. Colony Residential Welfare Association,<br>
			    Community Hall, (near Ration shop),<br>
			    New L. I. G. colony,<br>
                            K. K. Nagar,<br>
                            Madurai - 625020
                        </p>

                    </div>

                    <hr>

                    <div class="mb-4">

                        <h5 class="text-success">
                            <i class="bi bi-telephone-fill"></i>
                            Contact Number
                        </h5>

                           <p class="mb-2">
        			<strong>Association Secretary</strong> <br> 
				Mr. Arangannal <br>
        					+91 XXXXXXXXXX
    			   </p>

    			  <p class="mb-0">
                             <strong>Association President</strong><br> 
				Mr. R. Balasubramanian <br>
                                       +91 94425 39198

                    </div>

                    <hr>

                    <div class="mb-4">

                        <h5 class="text-danger">
                            <i class="bi bi-envelope-fill"></i>
                            Email Address
                        </h5>

                        <p class="mb-0">
                            kknnewligasso@gmail.com
                        </p>

                    </div>

                    <hr>

                    <div>



                        </p>

                    </div>

                </div>

            </div>

        </div>

    </div>

</div>

{% endblock %}