{% extends 'base.html' %}

{% block content %}

<div class="container py-5">

    <div class="text-center mb-5">

        <h2 class="fw-bold text-primary">

            Association Members

        </h2>

        <p class="text-muted">

           Committee Members

        </p>

    </div>

    <div class="row g-4">

        {% for member in members %}

        <div class="col-lg-4 col-md-6 col-sm-12">

            <div class="card shadow h-100 text-center">

                <div class="card-body">

                    <img
    src="{{ member.get_photo }}"
    alt="{{ member.name }}"
    class="member-photo mb-3"
    onerror="this.src='/static/images/default-user.png';">

                    <h5 class="fw-bold">

                        {{ member.name }}

                    </h5>

                    <span class="badge bg-primary">

                        {{ member.designation }}

                    </span>

                </div>

            </div>

        </div>

        {% empty %}

        <div class="col-12">

            <div class="alert alert-warning text-center">

                No Members Available

            </div>

        </div>

        {% endfor %}

    </div>

</div>

{% endblock %}